body{
    padding: 0;
    margin: 0;
}
#hero{
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.black-box{
    background: black;
    width: 95%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hello-text{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.st0 {
    fill: none;
    stroke: #1ED760;
    stroke-miterlimit: 10;
}